
form {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

#input-container {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    width: 80%;
}

.input-field {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    justify-items: center;
}

input {
    text-align: center;
    width: 15vw;
    height: 2rem;
    border-radius: 1rem;
    font-size: large;
}

select {
    text-align: center;
    width: 15vw;
    height: 2rem;
    border-radius: 1rem;
    font-size: large;
}

button {
    width: 25%;
    height: 3rem;
    margin: 30px 0 10px 0;
    font-size: larger;
    justify-self: center;
}

#description {
    position: relative;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}